body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.details-btn-style {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FEF7F7;
    text-align: center;
    cursor: pointer;
}

.details-btn-style:hover {
    background-color: rgb(228, 204, 204);
}

.details-arrow {
    color: #EB5757;
}

.modal-main-div {
    width: 80%;
    margin: 10px auto 50px;
}

.price-area {
    background: #FEF7F7;
    border: 1px solid #EB5757;
}

.price-box-area {
    text-align: center;
    font-weight: bolder;
    color: green;
}

.price-box {
    background-color: white;
    border-radius: 10px;
}

.accuracy-box-holder {
    position: relative;
}

.accuracy-box-image {
    position: absolute;
}

.accuracy-box {
    position: absolute;
    border-radius: 5px;
    color: white;
    margin-left: 290px;
    margin-top: 10px;
    padding: 3px;
    /* border: 1px solid red;
    background-color: red; */
}

.overly {
    z-index: 1;
    background: linear-gradient(0deg, #EB5757, #EB5757),
    linear-gradient(0deg, rgba(235, 87, 87, 0.05), rgba(235, 87, 87, 0.05));
}

.card-body-holder{
    position: relative;
    margin-top: 250px;
}

.col-box-2 .col-box-1 :hover{
    background-color: red;
}