body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.details-btn-style{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FEF7F7;
    text-align: center;
    cursor: pointer;
}

.details-btn-style:hover{
    background-color: rgb(228, 204, 204);
}

.details-arrow{
    color: #EB5757;
}

.modal-main-div{
    width: 80%;
    margin: 30px auto 50px;
}